@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

@theme {
  --color-tiddy-gray: #576471;
  --color-tiddy-black: #292c2e;
  --breakpoint-pcrd: 550px;
}
* {
  font-family: "Alexandria", sans-serif;

  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  /* margin-inline: max(5%, calc((100vw - 1400px) / 2)); */
  margin-inline: max(10%, calc((100vw - 1400px) / 2));
}
